# Application
PORT=3000

# Prisma/PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_prisma_task_manager?schema=public"

# Auth
JWT_SECRET="replace-with-strong-secret"
JWT_EXPIRES_IN="1h"
